In [10]:
import pandas as pd
import numpy as np
from major_cat import get_major_category, get_major_category_name
from degree_cat import get_degree_category
from hobby_cat import get_hobby_category
from in_5_year_cat import get_plan_category
from kth_canvas_usage_quantify import get_canvas_usage_number
from kth_social_usage_quantify import get_social_usage_number
from facebook_usage_quantify import get_facebook_usage_number

In [11]:
df = pd.DataFrame(pd.read_excel("selfIntro.xlsx"))
col_name = ["alias", "major", "degree", "hobbies",
    "kth_canvas_usage", "kth_social_usage", "facebook_usage",
    "course_expectations", "info_vis_skill", "stats_skill",
    "maths_skill", "drawing_skill", "computer_skill",
    "programming_skill", "cg_skill",
    "hci_skill", "user_experience_skill", 
    "communication_skill", "collaboration_skill",
    "code_repository_skill", "in_5_years"]
assert(len(col_name) == len(df.columns))
df.columns = col_name

In [12]:
df['major'] = df['major'].replace(np.nan, None)
# df['major'] = df['major'].apply(lambda x: get_major_category(x))
df['major'] = df['major'].apply(lambda x: get_major_category_name(x))

df['degree'] = df['degree'].replace(np.nan, None)
df['degree'] = df['degree'].apply(lambda x: get_degree_category(x))

df['hobbies'] = df['hobbies'].replace(np.nan, None)
df['hobbies'] = df['hobbies'].apply(lambda x: get_hobby_category(x))

df['in_5_years'] = df['in_5_years'].replace(np.nan, None)
df['in_5_years'] = df['in_5_years'].apply(lambda x: get_plan_category(x))

df['kth_canvas_usage'] = df['kth_canvas_usage'].replace(np.nan, None)
df['kth_canvas_usage'] = df['kth_canvas_usage'].apply(lambda x:get_canvas_usage_number(x))

df['kth_social_usage'] = df['kth_social_usage'].replace(np.nan, None)
df['kth_social_usage'] = df['kth_social_usage'].apply(lambda x:get_social_usage_number(x))

df['facebook_usage'] = df['facebook_usage'].replace(np.nan, None)
df['facebook_usage'] = df['facebook_usage'].apply(lambda x:get_facebook_usage_number(x))

df_wo_arr = df.drop(columns=["degree", "hobbies", 
    "course_expectations", "in_5_years"])
df_wo_arr.to_csv("data_simplified.csv", index=False)

In [14]:
df_wo_arr.head()

,alias,major,kth_canvas_usage,kth_social_usage,facebook_usage,info_vis_skill,stats_skill,maths_skill,drawing_skill,computer_skill,programming_skill,cg_skill,hci_skill,user_experience_skill,communication_skill,collaboration_skill,code_repository_skill
0,Monokuma,computer-science,1,3,0,3,3,4,6,8,6,5,3,3,5,5,5
1,NoobKiz,computer-science,1,1,2,7,7,6,4,8,8,4,7,5,7,7,9
2,Rella666,media,2,2,2,6,5,6,7,6,3,5,5,3,7,7,2
3,Kropotkin42,media,1,1,2,3,4,5,8,7,4,4,1,6,9,6,7
4,Kyrie11,media,2,3,2,5,6,4,4,6,6,3,5,5,5,9,6